//Colours
$mainColor: #fff;
$lightBlueColor: #00e0d0;
$blueColor: #413d4b;
$teamItemBorder: #7d7991;

//Font Size
$h1: 32px;
$h2: 22px;
$other: 16px;

//Fonts
$regularRoboto: "Roboto-regular", Arial, sans-serif;
$thinRoboto: "Roboto-thin", Arial, sans-serif;
$lightRoboto: "Roboto-light", Arial, sans-serif;
$blackRoboto: "Roboto-black", Arial, sans-serif;
$regularPlayfair: "Playfair-regular", Arial, sans-serif;
$boldPlayfair: "Playfair-bold", Arial, sans-serif;
$blackPlayfair: "Playfair-black", Arial, sans-serif;